# Interview Analysis Notebook

This notebook is set up to load the provided CSV files and explore them systematically.

In [31]:
# --- Colab bootstrap (safe to re-run; never nests paths) ---
REPO_SLUG  = "monkeymoves/nesta"       # <user>/<repo>
TARGET_DIR = "/content/nesta"          # absolute path for the repo on Colab

try:
    import google.colab  # type: ignore
    IN_COLAB = True
except Exception:
    IN_COLAB = False

import os, sys, subprocess

if IN_COLAB:
    # Clone exactly once
    if not os.path.isdir(TARGET_DIR):
        subprocess.run(["git", "clone", f"https://github.com/{REPO_SLUG}.git", TARGET_DIR], check=True)

    # Chdir only if we're not already there
    if os.getcwd() != TARGET_DIR:
        os.chdir(TARGET_DIR)

    # Ensure the repo root is on sys.path (for any local imports if you add them later)
    if TARGET_DIR not in sys.path:
        sys.path.insert(0, TARGET_DIR)

# Quick sanity print
print("CWD:", os.getcwd())

CWD: /Users/lukemaggs/Desktop/Nesta_Interview_LM/notebooks

In [39]:
# === Config (works local + Colab) ===
from pathlib import Path

PROJECT_ROOT = Path.cwd()
if PROJECT_ROOT.name == "notebooks":  # if running from /notebooks, go up one level
    PROJECT_ROOT = PROJECT_ROOT.parent

DATA_RAW       = PROJECT_ROOT / "data" / "raw"
DATA_PROCESSED = PROJECT_ROOT / "data" / "processed"
DATA_PROCESSED.mkdir(parents=True, exist_ok=True)

FILENAMES = [
    "lfs_monthly_variables.csv",
    "lfs_quarterly_variables.csv",
    "qual_survey_responses.csv",
    "variable_names.csv",
]

print("CWD:", Path.cwd())
print("PROJECT_ROOT:", PROJECT_ROOT)
print("DATA_RAW:", DATA_RAW)
print("Files:", FILENAMES)

CWD: /Users/lukemaggs/Desktop/Nesta_Interview_LM/notebooks
PROJECT_ROOT: /Users/lukemaggs/Desktop/Nesta_Interview_LM
DATA_RAW: /Users/lukemaggs/Desktop/Nesta_Interview_LM/data/raw
Files: ['lfs_monthly_variables.csv', 'lfs_quarterly_variables.csv', 'qual_survey_responses.csv', 'variable_names.csv']

In [40]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 120)

def raw_path(*parts): return DATA_RAW.joinpath(*parts)

def read_csv_local(filename: str, **kwargs) -> pd.DataFrame:
    for enc in ("utf-8", "utf-8-sig", "cp1252", "latin-1"):
        try:
            return pd.read_csv(raw_path(filename), encoding=enc, **kwargs)
        except UnicodeDecodeError:
            continue
    return pd.read_csv(raw_path(filename), encoding="latin-1", encoding_errors="replace", **kwargs)

# Load
dfs = {}
for fn in FILENAMES:
    p = raw_path(fn)
    if not p.exists():
        print(f"WARNING: missing {p}")
        continue
    df = read_csv_local(fn)
    dfs[fn] = df
    print(f"Loaded {fn}: shape = {df.shape}")
list(dfs.keys())

Loaded lfs_monthly_variables.csv: shape = (388, 1831)
Loaded lfs_quarterly_variables.csv: shape = (124, 1831)
Loaded qual_survey_responses.csv: shape = (110, 4)
Loaded variable_names.csv: shape = (1830, 1)

['lfs_monthly_variables.csv',
 'lfs_quarterly_variables.csv',
 'qual_survey_responses.csv',
 'variable_names.csv']

In [41]:
# === Imports & tiny helpers ===
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 120)

def raw_path(*parts) -> Path:
    return DATA_RAW.joinpath(*parts)

def processed_path(*parts) -> Path:
    p = DATA_PROCESSED.joinpath(*parts)
    p.parent.mkdir(parents=True, exist_ok=True)
    return p

def read_csv_local(filename: str, **kwargs) -> pd.DataFrame:
    return pd.read_csv(raw_path(filename), **kwargs)

In [42]:
# === Load data ===
dfs = {}
for fn in FILENAMES:
    p = raw_path(fn)
    if not p.exists():
        print(f"WARNING: missing {p}")
        continue
    df = pd.read_csv(raw_path(fn), encoding="cp1252")
    dfs[fn] = df
    print(f"Loaded {fn}: shape = {df.shape}")
list(dfs.keys())

Loaded lfs_monthly_variables.csv: shape = (388, 1831)
Loaded lfs_quarterly_variables.csv: shape = (124, 1831)
Loaded qual_survey_responses.csv: shape = (110, 4)
Loaded variable_names.csv: shape = (1830, 1)

['lfs_monthly_variables.csv',
 'lfs_quarterly_variables.csv',
 'qual_survey_responses.csv',
 'variable_names.csv']

In [43]:
dfs["lfs_quarterly_variables.csv"].describe().T

                                                   count unique   top freq
Title                                                124    124  CDID    1
AWE: Whole Economy Real Terms Year on Year Sing...     1      1  A2F9    1
AWE: Whole Economy Real Terms Year on Year thre...     1      1  A2FA    1
AWE: Whole Economy Real Terms Level (£): Season...    99     51   454    5
AWE: Whole Economy Real Terms Year on Year Sing...     1      1  A3WV    1
...                                                  ...    ...   ...  ...
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     43   6.9    5
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   107     47   5.1    8
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     48   5.7    6
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     32   4.7    8
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     45     7    8

[1831 rows x 4 columns]

In [44]:
dfs["lfs_monthly_variables.csv"].describe().T

                                                   count unique   top freq
Title                                                388    388  CDID    1
AWE: Whole Economy Real Terms Year on Year Sing...   280     73   1.7   12
AWE: Whole Economy Real Terms Year on Year thre...   278     68   1.5   14
AWE: Whole Economy Real Terms Level (£): Season...   293     77   458   16
AWE: Whole Economy Real Terms Year on Year Sing...   280     81   1.7   10
...                                                  ...    ...   ...  ...
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   335     52   7.8   16
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   332     63   5.1   21
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   336     67   5.6   17
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   335     35   3.4   21
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   346     66     7   26

[1831 rows x 4 columns]

In [45]:
# === Quick overview ===
for fn, df in dfs.items():
    print("\n---", fn, "---")
    display(df.head())
    display(df.describe(include="all").T)
    print("Nulls by column:")
    display(df.isna().sum())

--- lfs_monthly_variables.csv ---

,Title,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Year on Year Three Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Total Pay,Employment rate Canada (OECD) seasonally adjusted,Employment Rate Japan (OECD) seasonally adjusted,Employment Rate United States (OECD) seasonally adjusted,"Standardised ILO unemployment rates, seasonally adjusted, Romania - Eurostat","Standardised ILO unemployment rates, seasonally adjusted, Bulgaria - Eurostat",Standardised ILO Unemployment rates - Total EU,International Comparison Employment rates - Romania,International Comparison employment rates - Bulgaria,International Comparison - Employment rates - Total EU,International Comparison Employment Rates - Cyprus,International Comparison Employment Rates - Czech Republic,International Comparison Employment Rates - Estonia,International Comparison Employment Rates - Hungary,International Comparison Employment Rates - Latvia,International Comparison Employment Rates - Lithuania,International Comparison Employment Rates - Malta,International Comparison Employment Rates - Poland,International Comparison Employment Rates - Slovak Republic,International Comparison Employment Rates - Slovenia,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Cyprus Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Czech Republic Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Estonia Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Hungary Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Latvia Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Lithuania Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Malta Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Poland Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Slovak Republic Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Slovenia Eurostat,LFS: In employment: Aged 16-17: Not in full-time education: UK: All: 000s: SA,LFS: In employment: Aged 18-24: Not in full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-24: Not in full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-17: Not in full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 18-24: Not in full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 16-24: Not in full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 16-17: Not in full-time education: UK: Female: 000s: SA,LFS: In employment: Aged 18-24: Not in full-time education: UK: Female: 000s: SA,LFS: In employment: Aged 16-24: Not in full-time education: UK: Female: 000s: SA,LFS: In employment: Aged 16-17: In full-time education: UK: All: 000s: SA,LFS: In employment: Aged 18-24: In full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-24: In full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-17: In full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 18-24: In full-time education: UK: Male: 000s: SA,...,LFS: Economic inactivity rate: Aged 16-24: UK: All: %: NSA,LFS: Economic inactivity rate: Aged 16-24: UK: Male: %: NSA,LFS: Economic inactivity rate: Aged 16-24: UK: Female: %: NSA,LFS: Population aged 16 and over: Northern Ireland: All: Thousands: NSA,International Comparison Employment Rates Austria,International Comparison Employment Rates Belgium,Internatioonal Comparison Employment Rates Denmark,International Comparison Employment Rates Finland,International Comparison Employment Rates France,International Comparison Employment Rates Germany,International Comparison Employment Rates Greece,International Comparison Employment Rates Ireland,International Comparison Employment Rates Italy,Internatioonal Comparison Employment Rates Luxembourg,International Comparison Employment Rates Netherlands,International Comparison Employment Rates Portugal,International Comparison Employment Rates Spain,International Comparison Employment Rates Sweden,International Comparison Employment Rates: Eurozone,LFS: Economically active: Northern Ireland: Male: Thousands: SA,LFS: Economically active: Northern Ireland: Female: Thousands: SA,LFS: ILO unemployed: Northern Ireland: All: Thousands: SA,LFS: ILO unemployment rate: Northern Ireland: All: %: SA,LFS: ILO unemployed: Northern Ireland: Male: Thousands: SA,LFS: ILO unemployment rate: Northern Ireland: Male: %: SA,LFS: ILO unemployed: Northern Ireland: Female: Thousands: SA,LFS: ILO unemployment rate: Northern Ireland: Female: %: SA,LFS: In employment: Northern Ireland: All: Thousands: SA,LFS: In employment: Northern Ireland: Male: Thousands: SA,LFS: Employment rate: Northern Ireland: Aged 16-64: Male: %: SA,LFS: In employment: Northern Ireland: Female: Thousands: SA,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Eurozone - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Belgium - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Denmark - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Germany - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Greece - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Spain - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED France - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Ireland - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Italy - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Luxembourg - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Netherlands - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Austria - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Portugal - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Finland - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Sweden - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United Kingdom Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United States,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Japan- Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Canada-OECD
0,CDID,A2F9,A2FA,A2FC,A3WV,A3WW,A3WX,A48O,A48P,A48Q,A48Z,A492,A493,A494,A495,A496,A4AC,A4AD,A4AE,A4AF,A4AG,A4AH,A4AI,A4AJ,A4AK,A4AL,A4AN,A4AO,A4AP,A4AQ,A4AR,A4AS,A4AT,A4AU,A4AV,A4AW,AGNH,AGNI,AGNJ,AGNK,AGNL,AGNM,AGNN,AGNO,AGNP,AGNR,AGNS,AGNT,AGNU,AGNV,...,YCXE,YCXH,YCXK,YCZE,YXSN,YXSO,YXSP,YXSQ,YXSR,YXSS,YXST,YXSU,YXSV,YXSW,YXSX,YXSY,YXSZ,YXTA,YXTC,ZSEX,ZSEZ,ZSFA,ZSFB,ZSFC,ZSFD,ZSFE,ZSFF,ZSFG,ZSFI,ZSFJ,ZSFK,ZXDH,ZXDI,ZXDJ,ZXDK,ZXDL,ZXDM,ZXDN,ZXDO,ZXDP,ZXDQ,ZXDR,ZXDS,ZXDT,ZXDU,ZXDV,ZXDW,ZXDX,ZXDY,ZXDZ
1,PreUnit,NaN,NaN,£,NaN,NaN,£,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,%,NaN,%,NaN,%,NaN,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992 MAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.9
4,1992 APR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,314,3482,3796,193,1814,2007,120,1669,1789,359,326,685,151,157,...,27.4,22.6,32.1,1176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,405,299,86,12.3,60,14.9,26,8.7,618,344,69.7,273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7

                                                   count unique   top freq
Title                                                388    388  CDID    1
AWE: Whole Economy Real Terms Year on Year Sing...   280     73   1.7   12
AWE: Whole Economy Real Terms Year on Year thre...   278     68   1.5   14
AWE: Whole Economy Real Terms Level (£): Season...   293     77   458   16
AWE: Whole Economy Real Terms Year on Year Sing...   280     81   1.7   10
...                                                  ...    ...   ...  ...
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   335     52   7.8   16
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   332     63   5.1   21
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   336     67   5.6   17
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   335     35   3.4   21
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   346     66     7   26

[1831 rows x 4 columns]

Nulls by column:

Title                                                                                                    0
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay    108
AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay     110
AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay                                95
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay      108
                                                                                                      ...
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Sweden - Eurostat                               53
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United Kingdom Eurostat                         56
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United States                                   52
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Japan- Eurostat                                 53
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Canada-OECD                                     42
Length: 1831, dtype: int64

--- lfs_quarterly_variables.csv ---

,Title,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay,AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Year on Year Three Month Growth (%): Seasonally Adjusted Total Pay,AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Total Pay,Employment rate Canada (OECD) seasonally adjusted,Employment Rate Japan (OECD) seasonally adjusted,Employment Rate United States (OECD) seasonally adjusted,"Standardised ILO unemployment rates, seasonally adjusted, Romania - Eurostat","Standardised ILO unemployment rates, seasonally adjusted, Bulgaria - Eurostat",Standardised ILO Unemployment rates - Total EU,International Comparison Employment rates - Romania,International Comparison employment rates - Bulgaria,International Comparison - Employment rates - Total EU,International Comparison Employment Rates - Cyprus,International Comparison Employment Rates - Czech Republic,International Comparison Employment Rates - Estonia,International Comparison Employment Rates - Hungary,International Comparison Employment Rates - Latvia,International Comparison Employment Rates - Lithuania,International Comparison Employment Rates - Malta,International Comparison Employment Rates - Poland,International Comparison Employment Rates - Slovak Republic,International Comparison Employment Rates - Slovenia,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Cyprus Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Czech Republic Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Estonia Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Hungary Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Latvia Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Lithuania Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Malta Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Poland Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Slovak Republic Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Slovenia Eurostat,LFS: In employment: Aged 16-17: Not in full-time education: UK: All: 000s: SA,LFS: In employment: Aged 18-24: Not in full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-24: Not in full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-17: Not in full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 18-24: Not in full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 16-24: Not in full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 16-17: Not in full-time education: UK: Female: 000s: SA,LFS: In employment: Aged 18-24: Not in full-time education: UK: Female: 000s: SA,LFS: In employment: Aged 16-24: Not in full-time education: UK: Female: 000s: SA,LFS: In employment: Aged 16-17: In full-time education: UK: All: 000s: SA,LFS: In employment: Aged 18-24: In full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-24: In full-time education: UK: All: 000s: SA,LFS: In employment: Aged 16-17: In full-time education: UK: Male: 000s: SA,LFS: In employment: Aged 18-24: In full-time education: UK: Male: 000s: SA,...,LFS: Economic inactivity rate: Aged 16-24: UK: All: %: NSA,LFS: Economic inactivity rate: Aged 16-24: UK: Male: %: NSA,LFS: Economic inactivity rate: Aged 16-24: UK: Female: %: NSA,LFS: Population aged 16 and over: Northern Ireland: All: Thousands: NSA,International Comparison Employment Rates Austria,International Comparison Employment Rates Belgium,Internatioonal Comparison Employment Rates Denmark,International Comparison Employment Rates Finland,International Comparison Employment Rates France,International Comparison Employment Rates Germany,International Comparison Employment Rates Greece,International Comparison Employment Rates Ireland,International Comparison Employment Rates Italy,Internatioonal Comparison Employment Rates Luxembourg,International Comparison Employment Rates Netherlands,International Comparison Employment Rates Portugal,International Comparison Employment Rates Spain,International Comparison Employment Rates Sweden,International Comparison Employment Rates: Eurozone,LFS: Economically active: Northern Ireland: Male: Thousands: SA,LFS: Economically active: Northern Ireland: Female: Thousands: SA,LFS: ILO unemployed: Northern Ireland: All: Thousands: SA,LFS: ILO unemployment rate: Northern Ireland: All: %: SA,LFS: ILO unemployed: Northern Ireland: Male: Thousands: SA,LFS: ILO unemployment rate: Northern Ireland: Male: %: SA,LFS: ILO unemployed: Northern Ireland: Female: Thousands: SA,LFS: ILO unemployment rate: Northern Ireland: Female: %: SA,LFS: In employment: Northern Ireland: All: Thousands: SA,LFS: In employment: Northern Ireland: Male: Thousands: SA,LFS: Employment rate: Northern Ireland: Aged 16-64: Male: %: SA,LFS: In employment: Northern Ireland: Female: Thousands: SA,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Eurozone - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Belgium - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Denmark - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Germany - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Greece - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Spain - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED France - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Ireland - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Italy - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Luxembourg - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Netherlands - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Austria - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Portugal - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Finland - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Sweden - Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United Kingdom Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United States,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Japan- Eurostat,STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Canada-OECD
0,CDID,A2F9,A2FA,A2FC,A3WV,A3WW,A3WX,A48O,A48P,A48Q,A48Z,A492,A493,A494,A495,A496,A4AC,A4AD,A4AE,A4AF,A4AG,A4AH,A4AI,A4AJ,A4AK,A4AL,A4AN,A4AO,A4AP,A4AQ,A4AR,A4AS,A4AT,A4AU,A4AV,A4AW,AGNH,AGNI,AGNJ,AGNK,AGNL,AGNM,AGNN,AGNO,AGNP,AGNR,AGNS,AGNT,AGNU,AGNV,...,YCXE,YCXH,YCXK,YCZE,YXSN,YXSO,YXSP,YXSQ,YXSR,YXSS,YXST,YXSU,YXSV,YXSW,YXSX,YXSY,YXSZ,YXTA,YXTC,ZSEX,ZSEZ,ZSFA,ZSFB,ZSFC,ZSFD,ZSFE,ZSFF,ZSFG,ZSFI,ZSFJ,ZSFK,ZXDH,ZXDI,ZXDJ,ZXDK,ZXDL,ZXDM,ZXDN,ZXDO,ZXDP,ZXDQ,ZXDR,ZXDS,ZXDT,ZXDU,ZXDV,ZXDW,ZXDX,ZXDY,ZXDZ
1,PreUnit,NaN,NaN,£,NaN,NaN,£,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,000's,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,%,NaN,%,NaN,%,NaN,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994 Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.3,71.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256,3070,3326,159,1617,1776,96,1453,1550,330,376,705,141,181,...,29.6,24.8,34.6,1197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,403,287,83,12.1,61,15.2,22,7.7,607,342,67.8,265,NaN,9.7,8.4,8.5,NaN,22.2,10.8,15.1,10.4,3.2,6.8,NaN,7.3,17,9.7,9.8,6.6,2.9,11
4,1994 Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.5,71.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239,3017,3256,143,1586,1729,96,1431,1527,345,384,729,151,184,...,29.4,24.6,34.2,1199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,401,287,82,11.9,61,15.2,21,7.3,606,340,67.4,266,NaN,9.8,7.8,8.5,NaN,22.2,10.8,14.7,10.6,3.3,7,NaN,7.6,17.1,9.4,9.5,6.2,2.8,10.6

                                                   count unique   top freq
Title                                                124    124  CDID    1
AWE: Whole Economy Real Terms Year on Year Sing...     1      1  A2F9    1
AWE: Whole Economy Real Terms Year on Year thre...     1      1  A2FA    1
AWE: Whole Economy Real Terms Level (£): Season...    99     51   454    5
AWE: Whole Economy Real Terms Year on Year Sing...     1      1  A3WV    1
...                                                  ...    ...   ...  ...
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     43   6.9    5
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   107     47   5.1    8
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     48   5.7    6
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     32   4.7    8
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ...   108     45     7    8

[1831 rows x 4 columns]

Nulls by column:

Title                                                                                                    0
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Regular Pay    123
AWE: Whole Economy Real Terms Year on Year three Month Growth (%): Seasonally Adjusted Regular Pay     123
AWE: Whole Economy Real Terms Level (£): Seasonally Adjusted Regular Pay                                25
AWE: Whole Economy Real Terms Year on Year Single Month Growth (%): Seasonally Adjusted Total Pay      123
                                                                                                      ...
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Sweden - Eurostat                               16
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United Kingdom Eurostat                         17
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED United States                                   16
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Japan- Eurostat                                 16
STANDARDISED ILO UNEMPLOYMENT RATES SEASONALLY ADJUSTED Canada-OECD                                     16
Length: 1831, dtype: int64

--- qual_survey_responses.csv ---

  Participant ID Employment Status   UK Region                                           Response
0           P001        Unemployed    Scotland  The government should focus on providing more ...
1           P002          Employed  North West  I believe the government should create more in...
2           P003     Self-employed      London  The government needs to address the root cause...
3           P004        Unemployed       Wales  The government should increase unemployment be...
4           P005          Employed  South East  I think the government is already doing too mu...

                  count unique                                                top freq
Participant ID      110    110                                               P001    1
Employment Status   110      4                                         Unemployed   54
UK Region           110     12                                           Scotland   10
Response            110    107  The government needs to address the pension cr...    2

Nulls by column:

Participant ID       0
Employment Status    0
UK Region            0
Response             0
dtype: int64

--- variable_names.csv ---

                                               Title
0  AWE: Whole Economy Real Terms Year on Year Sin...
1  AWE: Whole Economy Real Terms Year on Year thr...
2  AWE: Whole Economy Real Terms Level (£): Seaso...
3  AWE: Whole Economy Real Terms Year on Year Sin...
4  AWE: Whole Economy Real Terms Year on Year Thr...

      count unique                                                top freq
Title  1830   1828  LFS: Unemployed over 6 and up to 12 months: UK...    2

Nulls by column:

Title    0
dtype: int64

In [ ]:
# === Quick overview ===
for fn, df in dfs.items():
    print('\n---', fn, '---')
    display(df.head())
    display(df.describe(include='all').T)
    print('Nulls by column:')
    display(df.isna().sum())

In [ ]:
# === Example plot ===
for fn, df in dfs.items():
    num_cols = df.select_dtypes(include='number').columns.tolist()
    if not num_cols:
        continue
    col = num_cols[0]
    plt.figure()
    df[col].dropna().hist()
    plt.title(f"{fn}: Distribution of {col}")
    plt.xlabel(col)
    plt.ylabel('Count')
    plt.show()